/* Container */
.container {
	width: 1140px;
	margin: 0 auto;
}

/* Les boutons et cta */
.cta,
label {
	padding: var(--padding-small);
	border-radius: var(--border-radius-small);
}

.mainCta {
	background-color: var(--color-orange);
	color: var(--color-white);
	transition-duration: 200ms;
}

.mainCta:hover {
	background-color: var(--color-orange-2);
	transform: scale(1.01);
}

.subCta,
label {
	border: var(--color-black) 1px solid;
	color: var(--color-black);
}

.orange {
	color: var(--color-orange);
}

/* Inputs radio */
input[type='radio'] {
	display: none;
}

/* Inputs radio */
#search {
	background-color: var(--color-white-1);
	border: var(--color-gray) solid 1px;
}

input[type='radio']:checked + label {
	background-color: var(--color-orange);
	color: var(--color-white);
	border: transparent 1px solid;
}

/* Logo */
.logo {
	display: flex;
	align-items: center;
	gap: var(--gap-medium);
	color: var(--color-orange);
}

.logo img {
	width: 2rem;
}

/* Header de page */
#firstHeader {
	border-bottom: var(--color-gray) solid 1px;
	background-color: var(--color-white-1);
	position: sticky;
	top: 0px;
	z-index: 10;
	padding: var(--padding-medium);
}

#firstHeader > div {
	display: flex;
	padding-top: var(--padding-top-bottom-large);
	justify-content: space-between;
	align-items: center;
	gap: var(--gap-medium);
}

#firstHeader ul {
	display: flex;
	padding-top: var(--padding-top-bottom-large);
	justify-content: space-between;
	align-items: center;
	gap: var(--gap-medium);
}

#firstHeader ul li {
	transition: all ease 0.5s;
}

#firstHeader ul li:hover::after {
	width: 100%;
	transition: all ease 0.5s;
}

#firstHeader ul li::after {
	content: ' ';
	background-color: var(--color-orange);
	display: block;
	width: 0;
	height: 2px;
	margin-top: 1px;
	transition: all ease 0.5s;
}

/* ZF section */
#zf {
	padding: var(--padding-top-bottom-extra);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-large);
}

#zf article {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-medium);
}

#zf article div {
	display: flex;
	gap: var(--gap-medium);
	flex-wrap: wrap;
}

/* Main */
main {
	min-height: 72vh;
	display: flex;
	flex-direction: column;
	gap: var(--gap-extra);
}

/* Sections */
.section {
	display: flex;
	flex-direction: column;
	padding: var(--padding-top-bottom-extra);
	gap: var(--gap-large);
}
.section header {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap-medium);
}

.section #randomMealsSection figure {
	height: auto;
	width: 12rem;
}

.figureReduct {
	height: 20rem;
	width: auto;
}

.section #randomMealsSection {
	display: flex;
	align-items: center;
	gap: var(--gap-large);
	border-radius: var(--border-radius-medium);
	box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.section #randomMealsSection article {
	display: flex;
	flex-direction: column;
	padding: var(--padding-medium);
	gap: var(--gap-small);
}

/* Footer */
#footerPage {
	border: var(--color-gray) solid 1px;
	background-color: var(--color-black);
	color: var(--color-white);
	padding: var(--padding-top-bottom-large);
}

#footerPage > div {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr auto;
	gap: var(--gap-large);
}

#footerPage div nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#footerPage > div > div {
	grid-column: 1/3;
	display: flex;
	justify-content: space-between;
}

/* CSS particulier pour les différentes pages */
/* Grid Catégories First Letters */
.grid {
	padding: var(--padding-top-bottom-extra);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	gap: var(--gap-large);
}

.grid a {
	box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
	padding: var(--padding-medium);
	border-radius: var(--border-radius-medium);
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition-duration: 8ms;
	gap: var(--gap-medium);
}

.grid a:hover {
	transform: scale(1.01);
}

.grid figure {
	width: 80%;
	margin: auto;
	height: auto;
}

.grid a footer {
	padding-top: var(--padding-medium);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.alphabet {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-small);
	justify-content: center;
}

.alphabet label{
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
}

.section form {
	display: flex;
	gap: var(--gap-medium);
	justify-content: center;
	margin: auto;
	width: 70%;
}

.section form input[type="search"] {
	justify-content: center;
	width: 70%;
}

.section .messages {
	text-align: center;
}

/* Media Querie */
/* Media 769px large screen */
@media (max-width: 1200px) {
	.container {
		width: 992px;
	}
}

/* Media 769px small desktop */
@media (max-width: 992px) {
	.container {
		width: 750px;
	}

	#zf {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: var(--gap-extra);
	}

	#zf article p,
	section header {
		width: 80%;
	}

	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

/* Media 768px tablette */
@media (max-width: 768px) {
	.container {
		width: 500px;
	}

	#firstHeader nav {
		display: none;
	}

	#footerPage .container {
		display: flex;
		flex-direction: column;
	}

	#footerPage div nav {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--gap-medium);
	}
	h1 {
		font-size: var(--text-size-large);
	}

	#footerPage > div > div {
		flex-direction: column;
		gap: var(--gap-small);
	}

	#footerPage > div > div a:first-child {
		order: 5;
	}

	.grid {
		grid-template-columns: 1fr;
	}
}

/* Media 520px smartphone */
@media (max-width: 520px) {
	header .logo span {
		display: none;
	}

	.container {
		width: 100%;
		padding: var(--padding-small);
	}

	
}
